* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Ubuntu, sans-serif;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

#main-window {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 160px;
}

#main-window img {
  display: block;
  width: 90%;
  margin: 15px auto 20px auto;
  border-radius: 10px;
}

h1 {
  padding-left: 18px;
  margin-top: 10px;
  font-weight: 450;
  font-size: 24px;
}

#text {
    padding-left: 18px;
    margin-top: 5px;
    color: #7e8084;
}

hr {
    border: 1px solid #e5eaf0;
    margin-top: 20px;
}

#author-info {
    margin-top: 15px;
    padding-left: 18px;
}

a {
    text-decoration: none;
    color: #696b6e;
}

#design-tag {
    display: inline-block;
    background-color: #f8f5fe;
    color: #733aab;
    border-radius: 40px;
    height: 23px;
    width: 75px;
    margin-left: 20px;
    text-align: center;
    line-height: 23px;
    font-weight: bolder;
    font-size: smaller;
}


